.container {
    width: 100vw;
    height: 700vh;
    position: absolute;
    top: 0;
    left: 0;
}

.page-1 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.page-2 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-1.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.page-3 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-0.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
}
.page-4 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-color: mediumseagreen;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.page-5 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-3.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: pixelated;
}
.page-6 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-4.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.page-7 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-5.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.page-8 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-6.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.page-9 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-7.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.page-10 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-8.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.page-11 {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../images/page-9.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.kokot-logo {
    margin-top: 30vw;
    margin-left: 5vh;
    width: 70vw;
    padding: auto;
}

.thomas-henry-logo {
    width: 30vw;
    margin-top: 30vh;
    margin-left: 60vw;
}